<div class="container" align=center>
  <div class="jumbotron myLogin">
    <h2>Log In</h2>
    <hr class="my-4">
    <label>Username</label>
    <input [value]="username" (input)="username = $event.target.value" name="username" class="form-control">
    <br>
    <label>Password</label>
    <input [value]="define" (input)="define = $event.target.value" name="define" class="form-control" type="password" >
    <br>
    <p>{{message}}</p>
    <button class="btn myButton" (click)="attemptLogin()">Log In</button>
    <hr class="my-4">
    <p>
      Aren't part of the team?
      <button class="btn myButton" routerLink="/sign-up">Sign Up</button>
    </p>
  </div>
</div>