<div class="container">
  <h1>Create a Team</h1>
  <div class="pokemonSelection">
    <div *ngFor="let member of myTeam" class="pokemonCard">
      <div class="card">
        <div class="card-img-overlay .myOverlay" routerLink="/pokedex">
          <!--This is here so that text can't be highlighted-->
        </div>
        <div>
          <img class="pokemonPic" [src]="member.sprites.front_default" alt="Card image cap">
        </div>
        <div class="card-body myCard">
          <h5 class="card-title">{{member.name}}</h5>
          <p class="card-text">Level {{member.level}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="teamMeta">
    <h2>Team Name</h2>
    <input [value]="teamname" (input)="teamname = $event.target.value" name="teamname" class="form-control" type=text>
    <br>
    <h2>Visibility</h2>
    <select [value]="visibility" (input)="visibility = $event.target.value" name="visibility" class="form-control">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
    <br>
    <input type=text [value]="myTeam[0].name" hidden>
    <input type=text [value]="myTeam[1].name" hidden>
    <input type=text [value]="myTeam[2].name" hidden>
    <input type=text [value]="myTeam[3].name" hidden>
    <input type=text [value]="myTeam[4].name" hidden>
    <input type=text [value]="myTeam[5].name" hidden>
    <p>{{message}}</p>
    <button class="btn myButton" (click)="createTeam()">Save Team</button>

  </div>
</div>