<div class="container">
  <h1>Hello, {{user.name}}</h1>

  <div>
    <div class="cardContainer" *ngIf="hasNext(1)">
      <div class="card">
        <div>
          <img class="cardPic" [src]="preview[0].poketeam.p1.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[0].poketeam.p2.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[0].poketeam.p3.sprites.front_default" alt="Card image cap">
        </div>
        <div>
          <img class="cardPic" [src]="preview[0].poketeam.p4.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[0].poketeam.p5.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[0].poketeam.p6.sprites.front_default" alt="Card image cap">
        </div>
        <div class="card-body myCard">
          <h5 class="card-title">{{preview[0].nickname}}</h5>
          <p class="card-text">{{preview[0].description}}</p>
        </div>
      </div>
    </div>

    <div class="cardContainer" *ngIf="hasNext(2)">
      <div class="card">
        <div>
          <img class="cardPic" [src]="preview[1].poketeam.p1.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[1].poketeam.p2.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[1].poketeam.p3.sprites.front_default" alt="Card image cap">
        </div>
        <div>
          <img class="cardPic" [src]="preview[1].poketeam.p4.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[1].poketeam.p5.sprites.front_default" alt="Card image cap">
          <img class="cardPic" [src]="preview[1].poketeam.p6.sprites.front_default" alt="Card image cap">
        </div>
        <div class="card-body myCard">
          <h5 class="card-title">{{preview[1].nickname}}</h5>
          <p class="card-text">{{preview[1].description}}</p>
        </div>
      </div>
    </div>

    <div class="cardContainer">
      <div class="card">
        <div class="card-body myCard">
          <h5 class="card-title">More</h5>
          <p class="card-text">View your other line-ups.</p>
          <button class="btn myButton" routerLink="/teams">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
