<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-expand-lg navbar-light myNav">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/teams">Teams</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn myButton my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>