<div class="container">
  <h1>Pokedex</h1>

  <label for="nameFilter">Name</label>
  <input type="text" id="nameFilter" name="nameFilter" class="form-control" (change)="filterName($event)">
  <label for="regionFilter">Region</label>
  <select class="form-control" id="regionFilter" name="regionFilter" (change)="filterRegion($event)">
    <option *ngFor="let region of regions" value="{{region[0]}}">{{region[0]}}</option>
  </select>
  <label for="typeFilter">Type</label>
  <select class="form-control" id="typeFilter" name="typeFilter" (change)="filterType($event)">
    <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
  </select>

  <table>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Sprite</th>
    <th scope="col">Types</th>
    <tr *ngFor="let pokemon of pokemons">
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.name}}</td>
      <td>
        <img src={{pokemon.sprites.front_default}}/>
      </td>
      <td>
        <ul>
          <li *ngFor="let type of pokemon.types">{{type.type.name}}</li>
        </ul>
      </td>
    </tr>
  </table>
  <!--Button for the previous 20 pokemon-->
  <button *ngIf="!base" type="button" class="btn btn-primary" (click)="getPrev()">Get Previous</button>
  <!--Button for the next 20 pokemon-->
  <button type="button" class="btn btn-primary" (click)="getNext()">Get Next</button>
</div>