<h1>Pokedex</h1>

<table>
  <th scope="col">Name</th>
  <th scope="col">Sprite</th>
  <th scope="col">Types</th>
  <tr *ngFor="let pokemon of pokemons">
    <td>{{pokemon.name}}</td>
    <td><img src={{pokemon.sprites.front_default}}/></td>
    <td>
      <ul>
        <li *ngFor="let type of pokemon.types">{{type.type.name}}</li>
      </ul>
    </td>
  </tr>
</table>
<!--Button for the previous 50 pokemon-->
<button *ngIf="!base" type="button" class="btn btn-primary" (click)="getPrev()">Get Previous</button>
<!--Button for the next 50 pokemon-->
<button  type="button" class="btn btn-primary" (click)="getNext()">Get Next</button>
