<div class="container">
  <h1>Edit Team</h1>
  <div class="cardContainer">
    <div class="card">
      <div>
        <img class="cardPic" [src]="team.pokemon[0].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(0)">Remove</button>
        <img class="cardPic" [src]="team.pokemon[1].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(1)">Remove</button>
        <img class="cardPic" [src]="team.pokemon[2].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(2)">Remove</button>
      </div>
      <div>
        <img class="cardPic" [src]="team.pokemon[3].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(3)">Remove</button>
        <img class="cardPic" [src]="team.pokemon[4].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(4)">Remove</button>
        <img class="cardPic" [src]="team.pokemon[5].sprites.front_default" alt="Card image cap">
        <button class="btn btn-warning" (click)="remove(5)">Remove</button>
      </div>
      <div class="card-body myCard">
        <h2>Team Name</h2>
        <input class="form-control" type=text value="{{team.teamName}}" (change)="changeName($event)">
        <select class="form-control" (change)="setVis($event)">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
        <button class="btn btn-primary" (click)="changeDetails()">Change Details</button>
      </div>
    </div>
  </div>
</div>