<div class="container">
  <h1>Your Teams</h1>
  <div>
    <div class="cardContainer" *ngFor="let team of teams">
      <div class="card">
        <div>
          <img class="cardPic" src={{team.poketeam.p1.image}} alt="Card image cap">
          <img class="cardPic" src={{team.poketeam.p2.image}} alt="Card image cap">
          <img class="cardPic" src={{team.poketeam.p3.image}} alt="Card image cap">
        </div>
        <div>
          <img class="cardPic" src={{team.poketeam.p4.image}} alt="Card image cap">
          <img class="cardPic" src={{team.poketeam.p5.image}} alt="Card image cap">
          <img class="cardPic" src={{team.poketeam.p6.image}} alt="Card image cap">
        </div>
        <div class="card-body myCard">
          <h5 class="card-title">{{team.nickname}}</h5>
          <p class="card-text">{{team.description}}</p>
          <button class="btn myButton">View</button>
        </div>
      </div>
    </div>

    <div class="cardContainer">
      <div class="card">
        <div>
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
        </div>
        <div>
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
          <img class="cardPic" src="http://i.imgur.com/EgIXnFE.jpg" alt="Card image cap">
        </div>
        <div class="card-body myCard">
          <h5 class="card-title">New Team</h5>
          <p class="card-text">Who will help you become the very best like no one ever was?</p>
          <button class="btn myButton" routerLink="/new-team">Create</button>
        </div>
      </div>
    </div>
  </div>

</div>