<div class="container">
  <div class="card" style="width: 18rem;">
    <div>
      <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
      <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
      <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
    </div>
    <div>
        <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
        <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
        <img class="cardPic" src="https://cdn.bulbagarden.net/upload/thumb/4/46/019Rattata.png/250px-019Rattata.png" alt="Card image cap">
      </div>
    <div class="card-body myCard">
      <h5 class="card-title">Best Team</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn myButton">Go somewhere</button>
    </div>
  </div>
</div>